<p id="notice"><%= notice %></p>

<p>
  <strong>Saving type:</strong>
  <%= @saving.saving_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @saving.date %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
