

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h1>SAVINGS</h1>
    
          <%= link_to 'Add Saving', new_saving_path,class: "btn btn-info popup", remote:true %>
        </div>
        <div class="card-body">
          <h6 class="card-title">Total Savings</h6>
          <span class="badge bg-success rounded-pill"><%= @allsavings %></span>
        </div>
      </div>
  	   <ol class="list-group list-group">
  	   	 <% @savings.each do |saving| %>
  			  <li class="list-group-item d-flex justify-content-between align-items-start">
  			    <div class="ms-2 me-auto">
  			      <div class="fw-bold"><%= saving.saving_type %></div>
  			      <span class="badge bg-primary rounded-pill"><%= saving.amount %></span>
  			    </div>
  			     <div class="ex_sav-date"><%= saving.date %></div>
  			  </li>
  			<% end %>
          </ol>
    </div>
        <div class="col">
              <div class="card text-center">
          <div class="card-header">
            <h1>EXPENSES</h1>
            <%= link_to 'Add expense', new_expense_path,class: "btn btn-info" %>
          </div>
          <div class="card-body">
            <h6 class="card-title">Total expenses</h6>
            <span class="badge bg-success rounded-pill"><%= @allexpenses %></span>
          </div>
        </div>
         <ol class="list-group list-group">
           <% @expenses.each do |expense| %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><%= expense.expense_type %></div>
                <span class="badge bg-primary rounded-pill"><%= expense.amount %></span>
              </div>
               <div class="ex_sav-date"><%= expense.date %></div>
            </li>
          <% end %>
        </ol>
    </div>
    </div>
  </div>
</div>

<div id="popup_wrap">

</div>

<script type="text/javascript">

  $('.popup').click(function(){
    $('#popup_wrap').css("display","flex")

  })
  $('#close-btn_flash').click(function(){
    $('.flash-msg_wrap').css("display","none")
  })
</script>
