
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <i class="fas fa-search-dollar"></i>EXPENSE MANAGER
    </a>
  </div>
</nav>

<% if notice %>
<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<% end %>

<div class="container expense-wrapper">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h1>SAVINGS</h1>
          <%= link_to 'Add Saving', new_saving_path,class: "btn btn-info ", data: {bs_toggle: 'modal',bs_target: '#exampleModal', remote: true }%>
        </div>
        <div class="card-body">
          <h6 class="card-title">Total Savings</h6>
          <span class="badge bg-success rounded-pill"><%= @allsavings %></span>
        </div>
      </div>
  	   <ol class="list-group list-group">
  	   	 <% @savings.each do |saving| %>
  			  <li class="list-group-item d-flex justify-content-between align-items-start">
  			    <div class="ms-2 me-auto">
  			      <div class="fw-bold"><%= saving.saving_type %></div>
  			      <span class="badge bg-primary rounded-pill"><%= saving.amount %></span>
  			    </div>
  			     <div class="ex_sav-date"><%= saving.date %></div>
             <%= link_to content_tag(
              :i,
              nil, 
              class: 'fas fa-times-circle'
            ), saving, method: :delete, data: { confirm: 'Are you sure?' } %>
  			  </li>
  			<% end %>
          </ol>
    </div>
        <div class="col">
              <div class="card text-center">
          <div class="card-header">
            <h1>EXPENSES</h1>
            <%= link_to 'Add Expense', new_expense_path,class: "btn btn-info ", data: {bs_toggle: 'modal',bs_target: '#exampleModal', remote: true }%>
          </div>
          <div class="card-body">
            <h6 class="card-title">Total expenses</h6>
            <span class="badge bg-success rounded-pill"><%= @allexpenses %></span>
          </div>
        </div>
         <ol class="list-group list-group">
           <% @expenses.each do |expense| %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><%= expense.expense_type %></div>
                <span class="badge bg-primary rounded-pill"><%= expense.amount %></span>
              </div>
               <div class="ex_sav-date"><%= expense.date %></div>
               <%= link_to content_tag(
                :i,
                nil, 
                class: 'fas fa-times-circle'
              ), expense, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          <% end %>
        </ol>
    </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div id="newUserForm"></div>
     
    </div>
  </div>
</div>






